body{
    background-color: #333;
}
button{
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif; 
    width: 120px;
    position: absolute;
    top: 50px;
    padding: 10px 30px;
    background: none;
    color: white;
    font-weight: bold;
    border: 3px solid white;
   border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateX(-50%);
    cursor: pointer;
    transition: .5s;
}
.btn-zoom{
    left: 25%;
    
}
.btn-move{
    left: 50%;

}
.btn-color{
    left: 75%;
}
button:hover{
    background-color: #fff;
    color: black;
}

.square{
    position: absolute;
    top: 150px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    transform: translateX(-50%);
    transition: .5s;

}
.blue{
    background-color: blue;
    left: 25%;
    box-shadow: blue 0 0 15px;
    border: 2px solid darkblue;
}
.red{
    background-color: red;
    left: 50%;
    box-shadow: red 0 0 15px;
    border: 2px solid darkred
}
.green{
    background-color: greenyellow;
    left: 75%;
    box-shadow: greenyellow 0 0 15px;
    border: 2px solid green;
}
.btn-zoom:hover ~ .square{
    width: 200px;
    height: 200px;
}
.btn-move:hover ~ .square{
    top: 300px;
}
.btn-color:hover ~ .square{
    background-color: black;
    box-shadow: black 0 0 15px;
    border: 2px solid white;
}