*
    


body {
   
    background-color: royalblue;
    
}
.góra {
    text-align: center;
    font-size: 50px;
    color: gold;
}
.mojspan {
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}