* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 50px;
	font-family: 'montserrat', serif;
	color: #fff;
	background-color: #333;
	font-size: 36px;
}
div p {
	color: red;
}
div.child > p {
	text-decoration: line-through;
	font-weight: bold;
}
#test ~ div {
	background-color: blue;
}

main + p {
    text-transform: uppercase;
}
